LinkedIn Content Generator.json
{
  "name": "LinkedIn Content Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f05c393b-90bd-4d2e-9078-2f933b1eb8ca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appS0NQXPqT1v2DG6",
          "mode": "list",
          "cachedResultName": "LinkedIn Content Planner",
          "cachedResultUrl": "https://airtable.com/appS0NQXPqT1v2DG6"
        },
        "table": {
          "__rl": true,
          "value": "tbltfAQQcqjEzJ3Es",
          "mode": "list",
          "cachedResultName": "Post Topics",
          "cachedResultUrl": "https://airtable.com/appS0NQXPqT1v2DG6/tbltfAQQcqjEzJ3Es"
        },
        "filterByFormula": "{Draft Post} = \"\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "3ddc9efb-52ba-4a02-931a-1c128fc6717d",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "2IjKscOGmCICJvqe",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "7ee45ebb-c164-4a8d-a4a8-52fc1e56d0a2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.fields.Topic}}",
        "options": {
          "systemMessage": "You are an expert LinkedIn content writer.\n\nWrite a professional LinkedIn post using the topic provided by the user.\n\nRequirements:\n- Start with a strong hook.\n- Include a clear body section.\n- End with a CTA.\n- Include 3-5 relevant hashtags.\n- Maximum 250 words.\n- Return only the LinkedIn post.\n- No explanations or commentary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        -144
      ],
      "id": "55cdce59-864f-4ab0-8927-e576f1524e13",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appS0NQXPqT1v2DG6",
          "mode": "list",
          "cachedResultName": "LinkedIn Content Planner",
          "cachedResultUrl": "https://airtable.com/appS0NQXPqT1v2DG6"
        },
        "table": {
          "__rl": true,
          "value": "tbltfAQQcqjEzJ3Es",
          "mode": "list",
          "cachedResultName": "Post Topics",
          "cachedResultUrl": "https://airtable.com/appS0NQXPqT1v2DG6/tbltfAQQcqjEzJ3Es"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Draft Post": "={{$json.output}}",
            "id": "={{$node[\"Loop Over Items\"].json.id}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Draft Post",
              "displayName": "Draft Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        960,
        -144
      ],
      "id": "ba02390c-bc24-47c4-9112-7261c4476e10",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "2IjKscOGmCICJvqe",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        608,
        160
      ],
      "id": "0d1d17f2-9374-4c57-be13-bbd78c3bf76c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mClfe6tyI6gBiUp2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5447d53d-681d-4229-9c8c-52173cafe9c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dee8136b8c99b2be40aad4d77a46dc6402c0f79ec08dde257b378d00282cb0ab"
  },
  "nodeGroups": [],
  "id": "csJHx8hmCuY2tvVb",
  "tags": []
}